

/* a:hover {
    color: red;
    transition: color linear 2s;
} */

/* #link {
    color: green;
} */





/* .mylink {
    color: red;
} */

[target="_blank"] {
    color: black;
}

a {
    color: blue;
    /* transition: color linear 2s; */
}