/* a:hover {
    color: red;
    transition: color linear 2s;
} */

/* #link {
    color: green;
} */

/* .mylink {
    color: red;
} */

[target="_blank"] {
  color: black;
}

a {
  color: blue;
  font-family: "Lato";
  /* transition: color linear 2s; */
}

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

/* Same CSS as above, plus */

.icon-alone {
  display: inline-block; /* Chrome 19 was weird with clickability without this */
}

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}
