body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}

header {
    background-color: red;
    position: sticky;
    top: 0;
    text-align: center;
    color: white;
    padding: 1.5rem;
}

footer {
    background: red;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 1.5rem;
}